# Release Notes

{{#headers}}
## Generic Notes

{{/headers}}
{{#headers}}
**{{title}}**
{{body}}
{{/headers}}

{{#issues}}
## Issues

{{/issues}}
{{#issues}}
{{repo}}#{{number}} {{title}}
{{/issues}}

{{#footers}}
## Additional Notes

{{/footers}}
{{#footers}}
**{{title}}**
{{body}}
{{/footers}}
